{% if recommended %}
  <p class="text-center text-white mb-4 mt-4">Recomendaciones - Recommendations</p>
  <div class="row">
    {% for option in recommended %}
      <div class="col-12 col-xl-3 col-md-6 col-sm-12 mb-3">
        <div class="card bg-dark text-white mb-3">
          <div class="card-body d-flex flex-column">
            <div class="d-flex">
              {% if request.GET.lang == 'en' %}
                {{option.name_en}}
              {% else %}
                {{option.name}}
              {% endif %}
              <h5 class="mt-auto ms-auto">${{option.price}}</h5>
            </div>
            {% if request.GET.lang == 'en' %}
              <p class="text-muted mt-auto mb-auto">{{option.description_en}}</p>
            {% else %}
              <p class="text-muted mt-auto mb-auto">{{option.description}}</p>
            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endif %}